*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {margin: 0; height: 100%; overflow: hidden}

@font-face {
    font-family: 'Product Sans';
    src: local('Product Sans'), local('ProductSans-Regular'),
        url('ProductSans-Regular.woff2') format('woff2'),
        url('ProductSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: local('Product Sans Bold'), local('ProductSans-Bold'),
        url('ProductSans-Bold.woff2') format('woff2'),
        url('ProductSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: whitesmoke;
    font-family: 'Product Sans', Helvetica, sans-serif;
}

.basictext {
    text-align:center;
    color: grey;
}

input[type=text] {
    background-color: whitesmoke;
    font-family: 'Product Sans', Helvetica, sans-serif;
    font-size: 1.25em;
    padding: 0.5em;
    margin: 0.5em;
    width: 20em;
    overflow: hidden;
    border-radius: 1em;
    border-width: 0.2em;
    border: whitesmoke;
    border-style: solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

input:focus, textarea:focus, select:focus {
    outline-offset: 0px !important;
    outline: none !important;
    }

button {
    font-family: 'Product Sans', Helvetica, sans-serif;
    font-size: 1.25em;
    color: whitesmoke;
    background-color: #333333;
    padding: 0.5em;
    margin: 0.5em;
    overflow: hidden;
    border-radius: 1em;
    border-width: 0.2em;
    border-color: #333333;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

button:hover {
    background-color: #606060;
    border-color: #606060;
    border-style: solid;
}

.flexboxcontainer {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexboxinstance {
    width: auto;
}